# frontend/
# dependencies
frontend/node_modules
froontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
.admin.txt
.DS_Store
frontend/.DS_Store
backend/.DS_Store
backend/.env

backend/app/__pycache__/
backend/backend/__pycache__/
backend/app/migrations/__pycache__/