# frontend/
# dependencies
frontend/node_modules
froontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store

# backend/
# pycache files
backend/app/__pycache__/
backend/backend/__pycache__/
backend/backend/controllers/__pycache__/
backend/backend/routes/__pycache__/
backend/app/migrations/__pycache__/

# misc
backend/.DS_Store
backend/.env

# other
# misc
.admin.txt
.DS_Store