[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
django = "*"
pymongo = "*"
dnspython = "*"
pytz = "*"
djangorestframework = "*"
django-cors-headers = "*"
pyjwt = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = {extras = ["brotli"], version = "*"}
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
