.App {
  --primary-text-color: black;
  --secondary-text-color: white;
  --primary-color: tomato;
  --secondary-color: orange;
  height: 100%;
}

@font-face {
  font-family: 'Bangers';
  src: local('Bangers'), url(../public/Bangers.ttf) format('opentype');
}