.home-container {
  display: flex;
  height: 90vh;
  font-family: 'Garamond', sans-serif;
  justify-content: center; /* Aligns items horizontally */
  align-items: center; /* Aligns items vertically */
}

.home-element-container {
  width: 50%;
  max-width: 600px;
}

.image-container {
  position: relative;
  width: 50%;
  height: 100%;
  max-width: 600px;
  transform: translate(-20%);
}

.fridge-image {
  position: relative;
  max-width: 100%;
  top: 4vh;
  left: 6vw;
  z-index: 2;
}

.welcome-container {
  font-family: 'Bangers', sans-serif;
  text-align: center;
  line-height: 0.2;
}

.welcome-header {
  display: flex;
  align-items: center;
}

.welcome-container h1 {
  font-size: 3.6rem;
}

.welcome-container h2 {
  font-size: 2.4rem;
}

.welcome-container button {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  min-width: 150px;
  max-width: 250px;
  padding: 10px;
  margin: 15px;
  border-width: 1px;
  border-radius: 8px;
  border-color: white;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

.welcome-container button:hover {
  background-color: var(--secondary-text-color);
  color: var(--primary-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary-color);
}

.welcome-container form {
  flex: 'display';
  flex-direction: column;
}

.back-button {
  margin-right: 10px;
  z-index: 3;
}

.back-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  padding: 5px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

.back-button button:hover {
  background-color: var(--secondary-text-color);
  color: var(--primary-color);
}

.login-fields {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

/* FRIDGE VIEW */
.fridge-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    font-family: 'Garamond', sans-serif;
}

.open-fridge-image-container {
  width: 50%;
  margin-left: -30rem;
  margin-top: -20rem;
}

.open-fridge-image-container button{
  margin-top: 600px;
  margin-left: 400px;
  min-width: 60px;
  max-height: 60px;
  font-family: 'Bangers', sans-serif;
  text-decoration: underline;
  color: var(--primary-color);
  background-color: white;
  border-width: 0px;
  border-radius: 20px;
}

.open-fridge-image-container button:hover{
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
}

.open-fridge-image {
  max-width: 100%;
}

.open-fridge-image img{
  width: 100%;
  margin-left: 8rem;
}

.item-list {
  border-color: var(--primary-color);
  border-style: solid;
  border-width: 0.3rem;
  border-left-width: 0rem;
  border-bottom-width: 0rem;
  border-radius: 50px;
  padding: 50px
}

.item-list h1{
  color: var(--primary-color);
  text-align: center;
}

.item-list h2{
  color: var(--primary-color);
  padding: 10px;
  padding-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--primary-color);
  border-radius:10px;
}

.item-list p{
  text-align: left;
}